body {
    

}

.banner__whole {
 
    background-color:blue;
    color:white;
    flex-grow: 1;
  
}

.map-wrapper-col-left {

    height: 600px;
    text-align: center;
    flex-grow: 1;
    width: 100vw;
    /* min-height: 400px; */
}

.banner__title > p {

    font-weight: 700;
    font-family: 'Cabin',Helvetica,Arial,Lucida,sans-serif;
    font-size: 35px;
    letter-spacing: 0em;
    line-height: 1.4em;
    justify-content: center;
    padding-bottom: 30px;

}

.banner-title2 {
    justify-content: center;
    
}