.walnut_front {
    height: 200px;
    width: 300px;
}

.kitchen1 {
    height: 200px;
    width: 300px;
}

.kitchen2 {
    height: 200px;
    width: 300px;
}

.kitchen3 {
    height: 200px;
    width: 300px;
}

.dining
{
    height: 200px;
    width: 300px;

}

.living1 {
    height: 200px;
    width: 300px;
}

.living2 {
    height: 200px;
    width: 300px;
}

.living3 {
    height: 200px;
    width: 300px;
} 

.master_bed1 {
    height: 200px;
    width: 300px;
} 

.master_bed2 {
    height: 200px;
    width: 300px;
} 

.master_bed3 {
    height: 200px;
    width: 300px;
}

.small_bed1 {
    height: 200px;
    width: 300px;
}
.small_bed2 {
    height: 200px;
    width: 300px;
}

.walnut_bathroom1 {
    height: 200px;
    width: 300px;
}

.walnut_bathroom2 {
    height: 200px;
    width: 300px;
}

.walnut_laundry {
    height: 200px;
    width: 300px;
}

.walnut_internet {
    height: 200px;
    width: 300px;
}

.walnut_backyard {
    height: 200px;
    width: 300px;
}

.vine_front {
    height: 200px;
    width: 300px;
}
.vine_kitchen1 {
    height: 200px;
    width: 300px;
}
.vine_kitchen2 {
    height: 200px;
    width: 300px;
}
.vine_living1 {
    height: 200px;
    width: 300px;
}
.vine_living2 {
    height: 200px;
    width: 300px;
}
.vine_living3 {
    height: 200px;
    width: 300px;
}
.vine_master1 {
    height: 200px;
    width: 300px;
}
.vine_master2 {
    height: 200px;
    width: 300px;
}
.vine_master3 {
    height: 200px;
    width: 300px;
}

.vine_twin1 {
    height: 200px;
    width: 300px;
}
.vine_twin2 {
    height: 200px;
    width: 300px;
}
.vine_queen1 {
    height: 200px;
    width: 300px;
}
.vine_queen2 {
    height: 200px;
    width: 300px;
}
.vine_queen3 {
    height: 200px;
    width: 300px;
}
.vine_closets {
    height: 200px;
    width: 300px;
}
.vine_bathroom1 {
    height: 200px;
    width: 300px;
}
.vine_bathroom2 {
    height: 200px;
    width: 300px;
}
.vine_bathroom3 {
    height: 200px;
    width: 300px;
}
.vine_bathroom4 {
    height: 200px;
    width: 300px;
}
.vine_bathroom5 {
    height: 200px;
    width: 300px;
}
.vine_front_lock {
    height: 200px;
    width: 300px;
}
.vine_locks {
    height: 200px;
    width: 300px;
}
.vine_camera {
    height: 200px;
    width: 300px;
}
.eff_living1 {
    height: 200px;
    width: 300px;
}
.eff_living2 {
    height: 200px;
    width: 300px;
}
.eff_living3 {
    height: 200px;
    width: 300px;
}
.eff_loft {
    height: 200px;
    width: 300px;
}
.eff_bathroom {
    height: 200px;
    width: 300px;
}
.eff_kitchen {
    height: 200px;
    width: 300px;
}
.eff_washer {
    height: 200px;
    width: 300px;
}
.eff_fridge {
    height: 200px;
    width: 300px;
}

.front_39 {
    height: 200px;
    width: 300px;
}

.head_39 {
    height: 200px;
    width: 300px;
}


.living1_39 {
    height: 200px;
    width: 300px;
}
.living2_39 {
    height: 200px;
    width: 300px;
}
.living3_39 {
    height: 200px;
    width: 300px;
}

.dining_39 {
    height: 200px;
    width: 300px;
}
.kitchen1_39 {
    height: 200px;
    width: 300px;
}
.kitchen2_39 {
    height: 200px;
    width: 300px;
}
.kitchen3_39 {
    height: 200px;
    width: 300px;
}
.queen1_39 {
    height: 200px;
    width: 300px;
}
.queen2_39 {
    height: 200px;
    width: 300px;
}
.queen3_39 {
    height: 200px;
    width: 300px;
}
.king1_39 {
    height: 200px;
    width: 300px;
}
.king2_39 {
    height: 200px;
    width: 300px;
}
.twin1_39 {
    height: 200px;
    width: 300px;
}
.twin2_39 {
    height: 200px;
    width: 300px;
}
.porch_39 {
    height: 200px;
    width: 300px;
}
.washer_39 {
    height: 200px;
    width: 300px;
}
.backyard_39 {
    height: 200px;
    width: 300px;
}
.bathroom1_39 {
    height: 200px;
    width: 300px;
}
.bathroom2_39 {
    height: 200px;
    width: 300px;
}
.bathroom3_39 {
    height: 300px;
    width: 200px;
}